<p>検索</p>
<%= form_tag(search_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>
<ul>
    <% @movies.each do |movie| %>
        <li>
            <img src=<%= movie.image_url %> >
            <h3><%= movie.name %></h3>
        </li>
    <% end %>
</ul>