<table>
    <% @movies.each do |movie| %>
        <tr>
            <td><%= link_to movie.id, "movies/#{movie.id}/edit" %></td>
            <td><%= movie.name %></td>
            <td><%= movie.year %></td>
            <% if movie.is_showing == true then %>
                <td>上映中</td>
            <% else %>
                <td>上映予定</td>
            <% end %>
            <td><%= movie.description %></td>
            <td><a href=<%= movie.image_url %>><%= movie.image_url %></a></td>
            <td><%= movie.created_at %></td>
            <td><%= movie.updated_at %></td>
            <td><%= link_to "削除", "movies/#{movie.id}", method: :delete %></td>
        </tr>
    <% end %>
</table>